@charset "utf-8";

/* CSS Document */
.widget_dock{
    margin-top: 7px;
    width: 92.5%;
}
.rfw_dock{
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}
.rfw_dock li{
    color: #666666;
    font-size: 16px;
    height: 100%;
    margin: 0;
    text-align: left;
    width: 90%;	
    list-style: upper-alpha outside none;
}
.rfw_dock h3{    
    font-size: 18px;
    margin: 0 0 10px;
    padding: 0;
	text-align: center;
}
.rfw_dock h3 a{
	font-size:16px;
}
.rfw_dock img{
	float:right !important;
	text-align:center;
}
.rfw_dock div.image_only{
	width:100%;
	text-align:center;
	float:left;
}
.rfw_dock div.image_only img{
    margin: 0;
    padding: 0;
    width: 100%;
}

