.bottomDiv{
	clear: left;
	height: 100px;
	background-image: url('../images/bottom.gif');
	background-repeat:repeat-x;
}

.topMenu {
	height: 31px;
	background-image: url('../images/middle.gif');
	background-repeat:repeat-x;
}

.topMenuMessage {
	color: #7bd0e0;
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	padding: 2px 0px 0px 0px;
}

.topDiv{
	height: 70px;
	background-image: url('../images/top.gif');
	background-repeat:repeat-x;
}

.midMessage {
	color: #7bd0e0;
	font: 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 15px 0px 0px 0px;
}

.topImage {
	padding: 5px 0px 0px 5px;
}

.green_link{
	text-decoration:none;
	color:Green;
}
a.green_link:link{
	color:Green;
}
a.green_link:visited{
	color:Green;
}
a.green_link:hover{
	color:Green;
	text-decoration:underline;
}

.red_link{
	text-decoration:none;
	color:#E32E0A;
}
a.red_link:link{
	color:#E32E0A;
}
a.red_link:visited{
	color:#E32E0A;
}
a.red_link:hover{
	color:#E32E0A;
	text-decoration:underline;
}

.blue_link{
	color:Blue;
	text-decoration:none;
}
a.blue_link:link{
	color:Blue;
}
a.blue_link:visited{
	color:Blue;
}
a.blue_link:hover{
	color:Blue;
	text-decoration:underline;
}

.black_link{
	color:Black;
	text-decoration:none;
}
a.black_link:link{
	color:Black;
}
a.black_link:visited{
	color:Black;
}
a.black_link:hover{
	color:Black;
	text-decoration:underline;
}

.gray_link{
	color:Gray;
	text-decoration:none;
}
a.gray_link:link{
	color:Gray;
}
a.gray_link:visited{
	color:Gray;
}
a.gray_link:hover{
	color:Gray;
	text-decoration:underline;
}

.user_link{
	color: #4f6b72;
	text-decoration:none;
}
a.user_link:link{
	color: #4f6b72;
	text-decoration:none;
}
a.user_link:visited{
	color: #4f6b72;
	text-decoration:none;
}
a.user_link:hover{
	text-decoration:underline;
	color: #c75f3e;
}

.colored_link{
	color: #c75f3e;
	text-decoration:none;
}
a.colored_link:link{
	color: #c75f3e;
	text-decoration:none;
}
a.colored_link:visited{
	color: #c75f3e;
	text-decoration:none;
}
a.colored_link:hover{
	text-decoration:underline;
	color: #c75f3e;
}

.user_link_one, .user_link_newone{
	color: #4f6b72;
	text-decoration:none;
}
a.user_link_one:link, a.user_link_newone:link{
	color: #4f6b72;
	text-decoration:none;
}
a.user_link_one:visited, a.user_link_newone:visited{
	color: #4f6b72;
	text-decoration:none;
}
a.user_link_one:hover, a.user_link_newone:hover{
	text-decoration:underline;
	color: #c75f3e;
}

.user_link_two, .user_link_newtwo{
	color: #797268;
	text-decoration:none;
}
a.user_link_two:link, a.user_link_newtwo:link{
	color: #797268;
	text-decoration:none;
}
a.user_link_two:visited, a.user_link_newtwo:visited{
	color: #797268;
	text-decoration:none;
}
a.user_link_two:hover, a.user_link_newtwo:hover{
	text-decoration:underline;
	color: #c75f3e;
}

.top_link{
	text-decoration:none;
	color: #7bd0e0;
}
a.top_link:link{
	color: #7bd0e0;
	text-decoration:none;
}
a.top_link:visited{
	color: #7bd0e0;
	text-decoration:none;
}
a.top_link:hover{
	text-decoration:underline;
	color: #7bd0e0;
}
body {
	font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	background: #001324;
}

#mytable {
	width: 700px;
	padding: 0;
	margin: 0;
}

#mytable1 {
	width: 350px;
	padding: 0;
	margin: 0;
}

#mytable2 {
	width: 130px;
	padding: 0;
	margin: 0;
}

#mytable3 {
	width: 100%;
	padding: 5 5 5 5;
	margin: 0;
}

caption {
	padding: 0 0 5px 0;
	width: 700px;
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

tr.newone {
	background: #fff;
	color: #4f6b72;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

tr.newtwo {
	background: #F5FAFA;
	color: #797268;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

td.newone {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 6px 6px 6px 12px;
	text-align: center;
}

td.newtwo {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 6px 6px 6px 12px;
	text-align: center;
}
th.newone {
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: url(../images/bullet1.png) no-repeat;
	padding: 6px 6px 6px 12px;
	text-align: center;
}

th.newtwo {
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: url(../images/bullet2.png) no-repeat;
	padding: 6px 6px 6px 12px;
	text-align: center;
}
td.newoneLeft {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 6px 6px 6px 12px;
	text-align: left;
}

td.newtwoLeft {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 6px 6px 6px 12px;
	text-align: left;
}
tr.newone:hover, tr.newtwo:hover { background: #E2FEFF url(../images/tr_header.png) repeat-x; background-position:center; }

td.one {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

td.two {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #F5FAFA;
	padding: 6px 6px 6px 12px;
	color: #797268;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}
td.oneLeft {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}

td.twoLeft {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #F5FAFA;
	padding: 6px 6px 6px 12px;
	color: #797268;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}

td.showCode {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	text-align: left;
	background: #fff;
	padding: 6px 6px 6px 12px;
}

th.one {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff url(../images/bullet1.png) no-repeat;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	padding: 6px 6px 6px 12px;
	text-align: center;
}

th.two {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #f5fafa url(../images/bullet2.png) no-repeat;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
	padding: 6px 6px 6px 12px;
	text-align: center;
}
th.top, th.leftTop, th.rightTop {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(../images/bg_header.png) repeat-x;
}
th.leftTop {
	border: 1px solid #C1DAD7;
}
th.rightTop {
}


h1 {
	font: bold 22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
h2 {
	font: bold 17px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
h3 {
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

h3.bugreport {
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #c75f3e;
}

td.verdictbar {
	background: #fff;
	padding: 5px 5px 0px 8px;
	font: 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

.verdictcont {
	width: 25px;
	height: 90px;
	border: 1px solid #eeeeee;
	display: block;
}

.percentcont {
	width: 120px;
	height: 14px;
	border: 1px solid #99CC99;
	display: block;
	background-color: #fcfcfc;
}

.perfill {
	background: #aaff99 url(../images/stat_header.png) repeat-x 50% 50%;
	height: 14px;
}

.pertext {
	position: relative;
	top: -15px;
	text-align: center;
	font-weight: bold;
}

div#wrapper {
	float:left;
	width:100%;
}
div#content {
	min-height: 410px;
	margin:0 3px 0 200px;
	padding-bottom:4em;
	padding-left:1em;
	padding-right:1em;
	padding-top:1em;
	border-left:2px solid #002E55;
	border-right:2px solid #002E55;
	border-top:2px solid #002E55;
	border-bottom:2px solid #002E55;
	background: #E6EAE9;
	color: #4f6b72;
	overflow-x: auto;
}
div#problem {
	min-height: 280px;
	margin:3px 3px 3px 3px;
	padding-bottom:2em;
	padding-left:1em;
	padding-right:1em;
	padding-top:2em;
	border-left:2px solid #002E55;
	border-right:2px solid #002E55;
	border-top:2px solid #002E55;
	border-bottom:2px solid #002E55;
	background: white;
	color: black;
	text-decoration: none;
	overflow-x: auto;
}
div#problem_name {
	color: green;
	padding-bottom:5pt;
	font-size:14pt;
	font-family:"Cambria","serif";
	font-weight:bold;
	text-align:center;
}
div#problem_setter {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #1f551f;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
}
div#navigation, div#navigation1 {
	float:left;
	width:200px;
	margin-left:-100%;
	margin-top: 2px;
	color:#fff;
}

.navcontainer {
	position: fixed;
	width:198px;
	border-right:1px solid #000;
	padding:0;
	margin-bottom:1em;
	background-color:transparent;
	text-align:center;
}
.navcontainer ul{
	list-style:none;
	margin:0;
	padding:0;
	border:none;
	width:198px;
	min-width:198px;
}
.navcontainer li {
	margin:0;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.navcontainer li a,.navcontainer li a:visited {
	display:block;
	padding:5px 5px 5px 5px;
	border-left:10px solid #000;
	border-right:10px solid #000;
	background-color: #002E55;
	text-decoration:none;
	font-weight:bold;
	width:168px;
	border-bottom:1px solid #1C85CA;
	color: #7BD0E0;
}

.navcontainer li#active a, .navcontainer li a:hover {
	border-left:10px solid #CCE8EB;
	border-right:10px solid #CCE8EB;
	background-color:#CCE8EB;
	color: #4f6b72;
}

a.submenu:link, a.submenu:visited, .navcontainer a.submenu:hover, .navcontainer li#active a.submenu {
	width: 150;
	border-left: 20px solid black;
	border-right: 20px solid black;
	background-color: transparent;
	font-size: 10;
}

.navcontainer li#active a.submenu {
	color: #c75f3e;
}

.navcontainer li#active a.submenu:hover {
	color: #4f6b72;
}

.navcontainer li.menutitle {
	font-size: 12px;
	border-left:10px solid #156396;
	border-right:10px solid #156396;
	border-top:10px solid #156396;
	text-align:center;
	color: #7BD0E0;
	padding:5px 5px 5px 5px;
	text-transform:uppercase;
	border-bottom:1px solid #1C85CA;
	background-color: #000;
}
.navcontainer li.menubottom {
	border-left:10px solid #156396;
	border-right:10px solid #156396;
	border-bottom:10px solid #156396;
	background-color: #000;
}

.buttons {
	text-align: center;
	background: white;
	border:1px solid #C1DAD7;
	color:black;
	padding: 3px;
}

.buttons:hover {
	background: #ddd;
}

span.forum_title {
	font: bold 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #006597;
}

.forum_link{
	text-decoration:none;
	color: #006597;
}
a.forum_link:link{
	color: #006597;
	text-decoration:none;
}
a.forum_link:visited{
	color: #006597;
	text-decoration:none;
}
a.forum_link:hover{
	text-decoration:underline;
	color: #c75f3e;
}

th.top_forum {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(../images/bg_header.png) repeat-x;
}

span.forum_button {
	font: bold 12pt garamond, Arial, Helvetica, sans-serif;
	text-align: left;
	border: 1px solid #C1DAD7;
	border-radius: 10;
	padding: 5 5 5 12;
	background: #d4e0f7;
	color: red;
}
.bbcode_quote {
	margin: 1em 0% 1em 4%;
	background-color: #EBEADD;
	padding: 0.5em;
	position: relative;
	line-height: 1.5em;
	border: 1px solid #DBDBCE;
	border-radius: 5;
}
.bbcode_quote_head {
	background: url('../images/forum/quote.gif') no-repeat;
	padding: 0 0 0 18;
	background-color: #EFEED9;
	border: 1px solid #DBDBDB;
	border-radius: 5;
}
.bbcode_quote_body {
	background-color: #EFEED3;
	padding: 5;
	border: 1px solid #DBDBDB;
	border-radius: 5;
}

.bbeditor-button{
	display:block;
	float:left;
	padding: 5 12 5 12;
	line-height:0;
	margin:1px;
	margin-right:0px;
}

.bbeditor-button:hover{
	padding:1 11 4 11;
	border:1px solid #ccc;
}

.bbeditor-button img{
	line-height:0;
}

.bbeditor-button.inactive{
	background:#ccc;
}

.bbeditor-frame {
	padding:0px;
	display:inline-block;
	width: inherit;
	text-align: left;
	border:1px solid #ccc;
	border-bottom: 2px solid #ccc;
	background:#eee;
	position:relative;
	vertical-align:middle;
}
.bbcode_fixed {
	max-width: 870;
	position: relative;
	border: 1px solid #C1DAD7;
	border-radius: 5px;
	padding: 5px;
	overflow: auto;
	max-height: 250px;
}

.bbcode_url{
	color: #c75f3e;
	text-decoration:none;
}

a.bbcode_url:hover{
	text-decoration:underline;
	color: #c75f3e;
}

a.addFriend, a.addFriend:link, a.addFriend:visited {
	background: url('../images/star_empty.png') no-repeat;
	text-decoration: none;
}

a.addFriend:hover {
	background: url('../images/star.png') no-repeat;
}

a.delFriend, a.delFriend:link, a.delFriend:visited {
	background: url('../images/star.png') no-repeat;
	text-decoration: none;
}

a.delFriend:hover {
	background: url('../images/star_empty.png') no-repeat;
}