*{
	margin: 0 auto;
}


header{
	
	background: url('../images/portrait-character-black-and-skyblue-lofty-tone-157669.jpeg'); 
	background-repeat: no-repeat;
	background-position: cente top ;
	width: auto;
	height: 600px;

}
header:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 600px;
	top: 0;
	left: 0;
	background: skyblue;
	z-index: 0;
	opacity: .4;
}
.clear{
	clear: both;
}

.manu{
	background: skyblue;
	width: 100%;
	height: 55px;
	
	position: fixed;
	z-index: 2;
	opacity: .7;
	
}
.active{
	
	
	
	background: green;
	position: relative;
	z-index: 2;
	opacity: .5;

}
.manu nav{

	width: 100%;
	height: 40px;
	color: skyblue;
	
}
.manu nav ul{
	margin:auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	list-style: none;
	margin-right: 70px;
	margin-top: 25px;
	

}
.manu nav ul li{
	display: inline-block;
	float: right;
	margin-right: 25px;
	

}
.manu nav ul li a{
	text-decoration:none;
	text-transform: uppercase;
	font-size: 16px;
	font-family: arial;
	color: black; 
	position: relative;
	z-index: 2;

}
.deactive:hover{
	
	
	
	text-decoration:none;
	text-transform: uppercase;
	font-size: 16px;
	font-family: arial;
	color: blue;
	position: relative;
	border-radius: 5px;
	z-index: 2 
	

}
.button{
	margin-top: 20px;
	width: 100px;
	height: 40px;
	background-color: #444466;
	border-style: none;
	border-radius: 5px;
	font-size: 17px;
	color: skyblue;

}
.button:hover{
	margin-top: 20px;
	width: 100px;
	height: 40px;
	background-color: black;
	border-style: none;
	border-radius: 5px;
	font-size: 17px;
	color: skyblue;
	opacity: .5;

}


.b-text{
	text-align: center;
	margin-top: 250px;
	position: absolute;
	margin-left:270px; 
	z-index: 4;
}
.b-text h1{
	font-size: 50px;
	word-spacing: 3px;
	letter-spacing: 1px;
	color: #444488;
}
.b-text h2{
	padding-top: 10px;
	font-size: 20px;
	word-spacing: 5px;
	letter-spacing: 2px;
	color: #444477;
}

main{
	width: 100%;
	height: auto;
}
.about{
	width: 1300px;
	height: 700px;
	margin: 40px auto 0 auto;
	display: flex;
}
.about-left{
	flex: 1;

}
.about-right{
	margin: 20px auto 20px auto; 
	flex: 2;
	
}
#propic {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.about-right-manu nav{

  
  width: 100%;
  height: 40px;
  
  
}
 .about-right-manu nav ul{
  margin:auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  
  

}
.about-right-manu nav ul li{
  display: inline-block;
  float: left;
  margin-right: 22px;
  

}
.about-right-manu nav ul li a{
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: arial;
  color: gray; 
  position: relative;
  z-index: 2;

}
.about-right-manu nav ul li a:hover{
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: arial;
    color: black;
  position: relative;
  
}


.about-right-r-m h1, p {
	margin-top: 20px;
	margin-left: 40px;
}

..about-right-r-m h1{
  color: #444499;
  font-family: arial;
  letter-spacing: 2px;
}
.about-right-r-m p{
  margin-top: 20px;
  font-size: 18px;
  color: #444455;

}
.about-right-r-m-img{
	 margin-top: 10px;
    margin-left: 45px;
    width: 120px;
    height: 80px;

}



  .service-1{
    text-align: center;
    font-family: arial;
    font-size: 25px;
    color: #444433;
}
.services{
    max-width: 1200px;
    height: 400px;
    margin: 40px auto 0 auto;
    display: flex;
}
.services-left{
    flex: 1;

}
.services-center{
    flex: 1;

}
.services-right{
    flex: 1;

}
.s-img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 150px;

} 
.s-h3{
    font-family: arial;
    color: #444422;
    letter-spacing: 2px;
    text-align: center;
}
.s-p{
    line-height: 20px;
    color: #444411;
    text-align: center;
}


.work-h2{
  text-align: center;
  font-size: 25px;
  font-family: arial;
  color: #444400;
  letter-spacing: 3px;
}

.work-manu nav{
  margin-top: 30px;


  width: 100%;
  height: 40px;
  
  
}
 .work-manu nav ul{
  text-align: center;

  margin:auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  
  

}
.work-manu nav ul li{
    
  display: inline-block;
  float: center;
  margin-right: 22px;
  

}
.work-manu nav ul li a{


  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: arial;
  color: gray; 
  position: relative;
  z-index: 2;

}
.work-manu nav ul li a:hover{
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: arial;
    color: black;
  position: relative;
  
}
.work-hr{
  width: 600px;
  opacity: .7;


}
.manu-img{
	width: 1300px;
	height: 500px;
	margin-top: 60px;
	display: flex;
}
.manu-img-left{
	flex: 1;

}
.manu-img-center{
	flex: 1;
}
.manu-img-right{
	flex: 1;
	
}
.manu-img-left img{
	margin-top: 15px;
  margin-left: 100px;
  width: 350px;
  height: 230px;
}

.manu-img-center img{
  margin-top: 15px;
  margin-left: 20px;
  width: 350px;
  height: 230px;
}
.manu-img-right img{
  margin-top: 15px;
  margin-right: 110px;
 
  width: 350px;
  height: 230px;
}
.p-s-a-m{
	margin-top: 100px;
	width: 1300px;
	height: 300px;

}

.p-s-a-m-h2{
	text-align: center;
	color: #444444;
	font-family: arial;
	font-size: 30px;
	letter-spacing: 3px;
}
.p-s-a-m-h3{
	color: #444444;
	text-align: center;
	margin-top: 25px;
	font-family: arial;
	font-size: 20px;
	letter-spacing: 3px;
}
.p-s-a-m-h4{
	color: #444444;
	text-align: center;
	margin-top: 10px;
	font-family: arial;
	font-size: 15px;
	
}
.p-s-a-m-p{
	color: #444444;
	text-align: center;
	margin-top: 20px;
	font-family: serif;
	font-size: 20px;
	letter-spacing: 1px;
	margin-right: 40px;

}
.Say-hello{
	margin-top: 100px;
	max-width: 1300px;
	height: 400px;

}
.Say-hello-h2{
	text-align: center;
	color: #444444;
	font-family: arial;
	font-size: 35px;
	letter-spacing: 3px;

}
.Say-hello-input{
	margin-top: 30px;
	
}
.Say-hello-input-1{
   margin-left: 100px;
   width: 500px;
   height: 50px;
   border-top: none;
   border-left: none;
   border-right: none;
 border-bottom-color: black;
 border-width: 1px; 
 font-size: 25px; 
outline-style: none;
}
.Say-hello-input-2{
	 margin-left: 50px;
   width: 500px;
   height: 50px;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom-color: black;
   border-width: 1px; 
   font-size: 25px;
   outline-style: none;
	

}
.Say-hello-input-3{
	margin-top: 10px;
	margin-left: 100px;
   width: 1050px;
   height: 200px;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom-color: black;
   border-width: 1px; 
   font-size: 25px;
   outline-style: none;
   

}
.Say-hello-button{
	margin-top: 40px;
    margin-left: 580px;
    width: 200px;
    height: 50px;
    color: black;
    background: skyblue;
    border-color: black;
    font-family: arial;
    font-size: 20px;
    border-width: 1px;  
}
.Say-hello-button:hover{
	margin-top: 40px;
    margin-left: 580px;
    width: 200px;
    height: 50px;
    color: skyblue;
    background: black;
    border-color: black;
    font-family: arial;
    font-size: 20px;
    border-width: 1px;  
}
.contact{
	margin-top: 100px;
	width: 1300px;
	height: 200px;
	
	display: flex;
}
.contact-left{
	flex: 1;
}
.contact-center{
	flex: 1;
}
.contact-right{
	flex: 1;
}
.contact-img{
	width: 50px;
	height: 50px;
	margin-left: 270px;
	
}
.contact-img-ex{
	margin-left: 50px;
	width: 50px;
	height: 50px;

}
.contact-h3{
	margin-top: 10px;
	text-align: center;
	font-family: arial;
	clear: #444444;
}
footer{
	width: 100%;
	height: 150px;
	background:#444444;
}
footer>p{
	text-align: center;
	font-size: 20px;
	padding-top: 75px;
	color: skyblue;
}